[submodule "owasp-modsecurity-crs"]
	path = owasp-modsecurity-crs
	url = https://github.com/SpiderLabs/owasp-modsecurity-crs
[submodule "nginx-ct"]
	path = nginx-ct
	url = https://github.com/grahamedgecombe/nginx-ct
[submodule "ngx_brotli"]
	path = ngx_brotli
	url = https://github.com/google/ngx_brotli
[submodule "ModSecurity-nginx"]
	path = ModSecurity-nginx
	url = https://github.com/SpiderLabs/ModSecurity-nginx
